$dark:#40474E;
$white:#ffffff;
$hover_color:#AA182C;


$main_bg:#E5E5E5;

$main_font: 'gotham_proregular';
$light_font: 'gotham_prolight';

$btnColor: #6B97BB;
$btnBorderColor:#6B97BB;
$btnBg:#6B97BB;

