@mixin _1500 {
  @media (max-width: 1500px){
    @content;
  }
}
@mixin _1400 {
  @media (max-width: 1400px){
    @content;
  }
}
@mixin _1280 {
  @media (max-width: 1280px){
    @content;
  }
}
@mixin _1220 {
  @media (max-width: 1220px){
    @content;
  }
}
@mixin _1170 {
  @media (max-width: 1170px){
    @content;
  }
}
@mixin _1100 {
  @media (max-width: 1100px){
    @content;
  }
}
@mixin _979 {
  @media (max-width: 979px){
    @content;
  }
}
@mixin _768 {
  @media (max-width: 768px){
    @content;
  }
}
@mixin _600 {
  @media (max-width: 600px){
    @content;
  }
}
@mixin _480 {
  @media (max-width: 480px){
    @content;
  }
}
@mixin _350{
  @media (max-width: 350px){
    @content;
  }
}