.button-container {
  display: none;
  z-index: 550;
  position: relative;
  width: 32px;
  height: 19px;
  margin: 0 0 0 auto;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  @include _768 {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    &:before{
      content: '';
      background-color: #40474E;
      width: 100%;
      height: 2px;
      left: 0;
      position: absolute;
      transition: all 0.3s ease 0s;
      top: 0;
    }
    &.active{
      &:before{
        transform: rotate(45deg);
        top: 9px;
      }
      span{
        transform: scale(0);
      }
      &:after{
        transform: rotate(-45deg);
        bottom: 9px;
      }
    }
    &:after{
      content: '';
      background-color: #40474E;
      width: 100%;
      height: 2px;
      left: 0;
      position: absolute;
      transition: all 0.3s ease 0s;
      bottom:0;
    }
    span {
       position: absolute;
       background-color: #40474E;
       width: 100%;
       height: 2px;
       left: 0;
       top: 9px;
       transition: all 0.3s ease 0s;
     }
  }
}

.main_nav ul{
  display: flex;
  align-items: center;
  @include _979 {
    justify-content: center;
  }
  @include _768{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 30px;
  }
  li{
    padding: 0 20px;
    @include _1400 {
      padding: 0 15px;
    }
    @include _768{
      padding: 0 0 20px;
    }
    a{
      font-family: $main_font;
      font-size: 16px;
      line-height: 20px;
      color: $dark;
      text-transform: uppercase;
      @include _1400 {
        font-size: 14px;
      }
      span{
        color: $hover_color;
      }
      &:hover{
        color: $hover_color;
      }
    }
  }
}
.main_nav {
  @include _1100 {
    width: 80%;
    justify-content: center;
  }
  @include _979 {
    width: 100%;
    justify-content: center;
    padding: 10px 0 15px;
  }
  @include _768 {
    left: -100%;
    position: fixed;
    &.active{
      top: 134px;
      transition: all 0.5s ease 0s;
      width: 100%;
      background:#E5E5E5;
      z-index: 1000;
      left: 0;
    }
  }
}