<footer class="footer">
    <div class="container">
        <div class="footer_top">
            <div class="footer_logo_info">
                <a href="#" class="logo"><img src="assets/images/logo_footer.svg" alt="ceramica"></a>
                <div class="social_list">
                    <a href="#" class="facebook"></a>
                    <a href="#" class="instagram"></a>
                    <a href="#" class="youtube"></a>
                </div>
            </div>
            <div class="footer_info">
                <p class="title_footer_info">Ceramica</p>
                <ul>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Проекты</a></li>
                    <li><a href="#">Где купить</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Партнерам</a></li>
                    <li><a href="#">3D-визуализация</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="footer_info">
                <p class="title_footer_info">Бренды</p>
                <ul>
                    <li><a href="#">Stone Sour</a></li>
                    <li><a href="#">Pattern Rock</a></li>
                </ul>
            </div>
            <div class="footer_info two_row">
                <div class="footer_holder_info">
                    <p class="title_footer_info">Отдел кадров</p>
                    <ul>
                        <li><a href="mailto:ok@ceramica.ua">ok@ceramica.ua</a></li>
                        <li><a href="#">+38 050-985-64-25</a></li>
                    </ul>
                </div>
                <div class="footer_holder_info">
                    <p class="title_footer_info">Торговый дом</p>
                    <ul>
                        <li><a href="mailto:sales@ceramica.ua">sales@ceramica.ua</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_info two_row">
                <div class="footer_holder_info">
                    <p class="title_footer_info">Администрация</p>
                    <ul>
                        <li><a href="mailto:office@ceramica.ua">office@ceramica.ua</a></li>
                        <li><a href="tel:+38 (096) 897-82-65">+38 (096) 897-82-65</a></li>
                        <li><a href="tel:+38 (056) 547-32-33">+38 (056) 547-32-33</a></li>
                    </ul>
                </div>
                <div class="footer_holder_info">
                    <p class="title_footer_info">Отдел маркетинга</p>
                    <ul>
                        <li><a href="mailto:marketing@ceramica.ua">marketing@ceramica.ua</a></li>
                    </ul>
                </div>
            </div>
            <div class="holder_footer_btn">
                <a href="#" class="btn btn_grey watch_cat">смотреть КАТАЛОГ</a>
                <a href="#" class="btn btn_grey download_cat">скачать КАТАЛОГИ</a>
            </div>
        </div>
    </div>
</footer>
