<header class="header">
    <div class="container header_holder">
        <a href="#" class="logo"><img src="assets/images/logo.svg" alt="ceramica"></a>
        <a href="#" class="btn btn_start_shop">в маганиз</a>
        <div class="nav-opener button-container">
            <span></span>
        </div>
        <nav class="main_nav">
            <ul>
                <li><a href="#">catalog</a></li>
                <li><a href="#">информация</a></li>
                <li><a href="#">партнерам</a></li>
                <li><a href="#"><span>3D</span>-визуализация</a></li>
                <li><a href="#">контакты</a></li>
                <li>
                    <select class="#select_language">
                        <option class='rus' value="rus">RU</option>
                        <option class='ukr' value="eng">UKR</option>
                    </select>
                </li>
            </ul>
        </nav>
        <ul class="top_lost_icon">
            <li><a href="#" class="icon_search"></a></li>
            <li><a href="#" class="icon_libra"></a></li>
            <li><a href="#" class="icon_heart"><span>10</span></a></li>
            <li><a href="#" class="icon_person"></a></li>
        </ul>
    </div>
</header>
