<section class="home_page_header_slider">
    <div class="slider_bg " style="background-image: url(assets/images/photo_slider_01.jpg);">
        <div class="container">
            <div class="holder_slider_description">
                <div class="text">
                    <h2 class="title_slider">
                        Керамика
                        для ваших идей
                    </h2>
                    <p>Лучшие европейские коллекции керамики и керамогранита</p>
                </div>
                <div class="social_list">
                    <a href="#" class="facebook"></a>
                    <a href="#" class="instagram"></a>
                    <a href="#" class="youtube"></a>
                    <a href="#" class="pint"></a>
                </div>
            </div>
            <a href="#" class="icon_mouse"><img src="assets/images/icon_mouse.png"></a>
        </div>
    </div>
    <div class="slider_bg " style="background-image: url(assets/images/photo_slider_01.jpg);">
        <div class="container">
            <div class="holder_slider_description">
                <div class="text">
                    <h2 class="title_slider">
                        Керамика
                        для ваших идей 2
                    </h2>
                    <p>Лучшие европейские коллекции керамики и керамогранита</p>
                </div>
                <div class="social_list">
                    <a href="#" class="facebook"></a>
                    <a href="#" class="instagram"></a>
                    <a href="#" class="youtube"></a>
                    <a href="#" class="pint"></a>
                </div>
            </div>
            <a href="#" class="icon_mouse"><img src="assets/images/icon_mouse.png"></a>
        </div>
    </div>
    <div class="slider_bg " style="background-image: url(assets/images/photo_slider_01.jpg);">
        <div class="container">
            <div class="holder_slider_description">
                <div class="text">
                    <h2 class="title_slider">
                        Керамика
                        для ваших идей 3
                    </h2>
                    <p>Лучшие европейские коллекции керамики и керамогранита</p>
                </div>
                <div class="social_list">
                    <a href="#" class="facebook"></a>
                    <a href="#" class="instagram"></a>
                    <a href="#" class="youtube"></a>
                    <a href="#" class="pint"></a>
                </div>
            </div>
            <a href="#" class="icon_mouse"><img src="assets/images/icon_mouse.png"></a>
        </div>
    </div>
</section>